{% extends 'base.html' %}
{% block content %}
{% for messages in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
    {{messages}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<br>
<br>

<p>Student Profile Available:</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    {% for users in user %}
    <tbody>

        <th scope="row">{{users.name}}</th>
        <td>{{users.username}}</td>

    </tbody>
    {% endfor %}
</table>
<br>
<div class="shadow p-3 mb-5 bg-bodyrounded">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{form.username.label}}
        {{form.username(class="form-control")}}
        <br>
        {{form.submit(class="btn btn-primary")}}
    </form>
</div>
<p>Members Added</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Username</th>
        </tr>
    </thead>
    {% for member in members %}
    <tbody>

        <th scope="row">{{member.username}}</th>
    </tbody>
    {% endfor %}
</table>

{% endblock %}